body .navbar {
    padding: 0;
}

#titulo {
    font-family: 'Kaushan Script', cursive;
    display: flex;
    justify-content: center;
}

#menu {
    background-color: #141414;
    justify-content: flex-start;
}

#logo {
    width: 5%;
    margin-left: 200px;
    margin-right: 435px;
}

.navbar .container-fluid {
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.navbar {
    flex-wrap: nowrap;
}